<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DLFW</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href='{% static "bower_components/bootstrap/dist/css/bootstrap.min.css" %}'>
    <!-- Font Awesome -->
    <link rel="stylesheet" href='{% static "bower_components/font-awesome/css/font-awesome.min.css" %}'>
    <!-- Ionicons -->
    <link rel="stylesheet" href='{% static "bower_components/Ionicons/css/ionicons.min.css" %}'>
    <!-- daterange picker -->
    <link rel="stylesheet" href='{% static "bower_components/bootstrap-daterangepicker/daterangepicker.css" %}'>
    <!-- bootstrap datepicker -->
    <link rel="stylesheet"
          href='{% static "bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" %}'>
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href='{% static "plugins/iCheck/all.css" %}'>
    <!-- Bootstrap Color Picker -->
    <link rel="stylesheet"
          href='{% static "bower_components/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css" %}'>
    <!-- Bootstrap time Picker -->
    <link rel="stylesheet" href='{% static "plugins/timepicker/bootstrap-timepicker.min.css" %}'>
    <!-- Select2 -->
    <link rel="stylesheet" href='{% static "bower_components/select2/dist/css/select2.min.css" %}'>
    <!-- Theme style -->
    <link rel="stylesheet" href='{% static "dist/css/AdminLTE.min.css" %}'>
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href='{% static "dist/css/skins/_all-skins.min.css" %}'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

    <style>
        .table > tbody > tr > th {
            vertical-align: middle;
        }

        .table > tbody > tr > td {
            vertical-align: middle;
        }

        .table > thead > tr > th {
            vertical-align: middle;
        }

        .table > thead > tr > td {
            vertical-align: middle;
        }

        input[type=checkbox] {
            width: 20px;
            height: 20px;
        }

        .small-width {
            width: 10px;
        }
    </style>
</head>
<body class="hold-transition skin-blue sidebar-mini sidebar-collapse">
<div class="wrapper">

    <header class="main-header">
        <!-- Logo -->
        <a href="../../index2.html" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>K</b>NT</span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>Khang</b>NT</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- Messages: style can be found in dropdown.less-->
                    <li class="dropdown messages-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-envelope-o"></i>
                            <span class="label label-success">4</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">You have 4 messages</li>
                            <li>
                                <!-- inner menu: contains the actual data -->
                                <ul class="menu">
                                    <li><!-- start message -->
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src='{% static "dist/img/user2-160x160.jpg" %}' class="img-circle"
                                                     alt="User Image">
                                            </div>
                                            <h4>
                                                Support Team
                                                <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                            </h4>
                                            <p>Why not buy a new awesome theme?</p>
                                        </a>
                                    </li>
                                    <!-- end message -->
                                    <li>
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src='{% static "dist/img/user3-128x128.jpg" %}' class="img-circle"
                                                     alt="User Image">
                                            </div>
                                            <h4>
                                                KhangNT Design Team
                                                <small><i class="fa fa-clock-o"></i> 2 hours</small>
                                            </h4>
                                            <p>Why not buy a new awesome theme?</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src='{% static "dist/img/user4-128x128.jpg" %}' class="img-circle"
                                                     alt="User Image">
                                            </div>
                                            <h4>
                                                Developers
                                                <small><i class="fa fa-clock-o"></i> Today</small>
                                            </h4>
                                            <p>Why not buy a new awesome theme?</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src='{% static "dist/img/user3-128x128.jpg" %}' class="img-circle"
                                                     alt="User Image">
                                            </div>
                                            <h4>
                                                Sales Department
                                                <small><i class="fa fa-clock-o"></i> Yesterday</small>
                                            </h4>
                                            <p>Why not buy a new awesome theme?</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src='{% static "dist/img/user4-128x128.jpg" %}' class="img-circle"
                                                     alt="User Image">
                                            </div>
                                            <h4>
                                                Reviewers
                                                <small><i class="fa fa-clock-o"></i> 2 days</small>
                                            </h4>
                                            <p>Why not buy a new awesome theme?</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer"><a href="#">See All Messages</a></li>
                        </ul>
                    </li>
                    <!-- Notifications: style can be found in dropdown.less -->
                    <li class="dropdown notifications-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i>
                            <span class="label label-warning">10</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">You have 10 notifications</li>
                            <li>
                                <!-- inner menu: contains the actual data -->
                                <ul class="menu">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-warning text-yellow"></i> Very long description here that
                                            may not fit into the
                                            page and may cause design problems
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-users text-red"></i> 5 new members joined
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-user text-red"></i> You changed your username
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer"><a href="#">View all</a></li>
                        </ul>
                    </li>
                    <!-- Tasks: style can be found in dropdown.less -->
                    <li class="dropdown tasks-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-flag-o"></i>
                            <span class="label label-danger">9</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">You have 9 tasks</li>
                            <li>
                                <!-- inner menu: contains the actual data -->
                                <ul class="menu">
                                    <li><!-- Task item -->
                                        <a href="#">
                                            <h3>
                                                Design some buttons
                                                <small class="pull-right">20%</small>
                                            </h3>
                                            <div class="progress xs">
                                                <div class="progress-bar progress-bar-aqua" style="width: 20%"
                                                     role="progressbar"
                                                     aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                    <span class="sr-only">20% Complete</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <!-- end task item -->
                                    <li><!-- Task item -->
                                        <a href="#">
                                            <h3>
                                                Create a nice theme
                                                <small class="pull-right">40%</small>
                                            </h3>
                                            <div class="progress xs">
                                                <div class="progress-bar progress-bar-green" style="width: 40%"
                                                     role="progressbar"
                                                     aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                    <span class="sr-only">40% Complete</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <!-- end task item -->
                                    <li><!-- Task item -->
                                        <a href="#">
                                            <h3>
                                                Some task I need to do
                                                <small class="pull-right">60%</small>
                                            </h3>
                                            <div class="progress xs">
                                                <div class="progress-bar progress-bar-red" style="width: 60%"
                                                     role="progressbar"
                                                     aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                    <span class="sr-only">60% Complete</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <!-- end task item -->
                                    <li><!-- Task item -->
                                        <a href="#">
                                            <h3>
                                                Make beautiful transitions
                                                <small class="pull-right">80%</small>
                                            </h3>
                                            <div class="progress xs">
                                                <div class="progress-bar progress-bar-yellow" style="width: 80%"
                                                     role="progressbar"
                                                     aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                    <span class="sr-only">80% Complete</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <!-- end task item -->
                                </ul>
                            </li>
                            <li class="footer">
                                <a href="#">View all tasks</a>
                            </li>
                        </ul>
                    </li>
                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src='{% static "dist/img/user2-160x160.jpg" %}' class="user-image" alt="User Image">
                            <span class="hidden-xs">KhangNT</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">
                                <img src='{% static "dist/img/user2-160x160.jpg" %}' class="img-circle"
                                     alt="User Image">

                                <p>
                                    KhangNT
                                    <small>Member since Nov. 2012</small>
                                </p>
                            </li>
                            <!-- Menu Body -->
                            <li class="user-body">
                                <div class="row">
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Followers</a>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Sales</a>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Friends</a>
                                    </div>
                                </div>
                                <!-- /.row -->
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="#" class="btn btn-default btn-flat">Profile</a>
                                </div>
                                <div class="pull-right">
                                    <a href="#" class="btn btn-default btn-flat">Sign out</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!-- Control Sidebar Toggle Button -->
                    <li>
                        <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src='{% static "dist/img/user2-160x160.jpg" %}' class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>KhangNT</p>
                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            </div>
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu" data-widget="tree">
                <li class="header">MAIN NAVIGATION</li>
                <li class="treeview">
                    <a href="">
                        <i class="fa fa-dashboard"></i> <span>Home</span>
                        <span class="pull-right-container">
            </span>
                    </a>

                </li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    {% block content %}
    {% endblock %}
    <!-- /.content-wrapper -->
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 2.4.0
        </div>
        <strong>Copyright &copy; 2014-2016 Data Master</strong> All rights
        reserved.
    </footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Create the tabs -->
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
            <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
            <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <!-- Home tab content -->
            <div class="tab-pane" id="control-sidebar-home-tab">
                <h3 class="control-sidebar-heading">Recent Activity</h3>
                <ul class="control-sidebar-menu">
                    <li>
                        <a href="javascript:void(0)">
                            <i class="menu-icon fa fa-birthday-cake bg-red"></i>

                            <div class="menu-info">
                                <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                                <p>Will be 23 on April 24th</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="menu-icon fa fa-user bg-yellow"></i>

                            <div class="menu-info">
                                <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>

                                <p>New phone +1(800)555-1234</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>

                            <div class="menu-info">
                                <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>

                                <p>nora@example.com</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="menu-icon fa fa-file-code-o bg-green"></i>

                            <div class="menu-info">
                                <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>

                                <p>Execution time 5 seconds</p>
                            </div>
                        </a>
                    </li>
                </ul>
                <!-- /.control-sidebar-menu -->

                <h3 class="control-sidebar-heading">Tasks Progress</h3>
                <ul class="control-sidebar-menu">
                    <li>
                        <a href="javascript:void(0)">
                            <h4 class="control-sidebar-subheading">
                                Custom Template Design
                                <span class="label label-danger pull-right">70%</span>
                            </h4>

                            <div class="progress progress-xxs">
                                <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <h4 class="control-sidebar-subheading">
                                Update Resume
                                <span class="label label-success pull-right">95%</span>
                            </h4>

                            <div class="progress progress-xxs">
                                <div class="progress-bar progress-bar-success" style="width: 95%"></div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <h4 class="control-sidebar-subheading">
                                Laravel Integration
                                <span class="label label-warning pull-right">50%</span>
                            </h4>

                            <div class="progress progress-xxs">
                                <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <h4 class="control-sidebar-subheading">
                                Back End Framework
                                <span class="label label-primary pull-right">68%</span>
                            </h4>

                            <div class="progress progress-xxs">
                                <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
                            </div>
                        </a>
                    </li>
                </ul>
                <!-- /.control-sidebar-menu -->

            </div>
            <!-- /.tab-pane -->
            <!-- Stats tab content -->
            <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
            <!-- /.tab-pane -->
            <!-- Settings tab content -->
            <div class="tab-pane" id="control-sidebar-settings-tab">
                <form method="post">
                    <h3 class="control-sidebar-heading">General Settings</h3>

                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            Report panel usage
                            <input type="checkbox" class="pull-right" checked>
                        </label>

                        <p>
                            Some information about this general settings option
                        </p>
                    </div>
                    <!-- /.form-group -->

                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            Allow mail redirect
                            <input type="checkbox" class="pull-right" checked>
                        </label>

                        <p>
                            Other sets of options are available
                        </p>
                    </div>
                    <!-- /.form-group -->

                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            Expose author name in posts
                            <input type="checkbox" class="pull-right" checked>
                        </label>

                        <p>
                            Allow the user to show his name in blog posts
                        </p>
                    </div>
                    <!-- /.form-group -->

                    <h3 class="control-sidebar-heading">Chat Settings</h3>

                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            Show me as online
                            <input type="checkbox" class="pull-right" checked>
                        </label>
                    </div>
                    <!-- /.form-group -->

                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            Turn off notifications
                            <input type="checkbox" class="pull-right">
                        </label>
                    </div>
                    <!-- /.form-group -->

                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            Delete chat history
                            <a href="javascript:void(0)" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
                        </label>
                    </div>
                    <!-- /.form-group -->
                </form>
            </div>
            <!-- /.tab-pane -->
        </div>
    </aside>
    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->
<script src='{% static "/bower_components/jquery/dist/jquery.min.js" %}'></script>
<!-- Bootstrap 3.3.7 -->
<script src='{% static "/bower_components/bootstrap/dist/js/bootstrap.min.js" %}'></script>
<!-- Select2 -->
<script src='{% static "/bower_components/select2/dist/js/select2.full.min.js" %}'></script>
<!-- InputMask -->
<script src='{% static "/plugins/input-mask/jquery.inputmask.js" %}'></script>
<script src='{% static "/plugins/input-mask/jquery.inputmask.date.extensions.js" %}'></script>
<script src='{% static "/plugins/input-mask/jquery.inputmask.extensions.js" %}'></script>
<!-- date-range-picker -->
<script src='{% static "/bower_components/moment/min/moment.min.js" %}'></script>
<script src='{% static "/bower_components/bootstrap-daterangepicker/daterangepicker.js" %}'></script>
<!-- bootstrap datepicker -->
<script src='{% static "/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js" %}'></script>
<!-- bootstrap color picker -->
<script src='{% static "/bower_components/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js" %}'></script>
<!-- bootstrap time picker -->
<script src='{% static "/plugins/timepicker/bootstrap-timepicker.min.js" %}'></script>
<!-- SlimScroll -->
<script src='{% static "/bower_components/jquery-slimscroll/jquery.slimscroll.min.js" %}'></script>
<!-- iCheck 1.0.1 -->
<script src='{% static "/plugins/iCheck/icheck.min.js" %}'></script>
<!-- FastClick -->
<script src='{% static "/bower_components/fastclick/lib/fastclick.js" %}'></script>
<!-- AdminLTE App -->
<script src='{% static "/dist/js/adminlte.min.js" %}'></script>
<!-- AdminLTE for demo purposes -->
<script src='{% static "/dist/js/demo.js" %}'></script>
<!-- Page script -->
<script>
    $(function () {

        //caching config
        renderCacheConfig();

        var $select = $('.select2').select2();

        $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
            checkboxClass: 'icheckbox_flat-green',
            radioClass: 'iradio_flat-green'
        });

        $('input[type="checkbox"][name="tb2_emb_choose_all"]').on('ifClicked', function (event) {
            var tb2_colStr = $("#tb2_colStr").html();
            var tb2_cols = tb2_colStr.split("|");
            if (event.target.checked) {
                // event change check to uncheck
                tb2_cols.forEach(function (value, index) {
                    var col = "tb2_emb_" + value;
                    $('input[type="checkbox"][name=' + col + ']').iCheck('uncheck');
                    col = "tb2_dimension_emb_" + value;
                    $('input[name=' + col + ']').val("");
                });
            } else {
                // event change uncheck to check
                tb2_cols.forEach(function (value, index) {
                    var col = "tb2_emb_" + value;
                    $('input[type="checkbox"][name=' + col + ']').iCheck('check');
                    col = "tb2_dimension_emb_" + value;
                    $('input[name=' + col + ']').val(100);
                });
            }
        });

        $('input[type="radio"][name="tb2_choose_all"]').on('ifClicked', function () {
            var tb2_colStr = $("#tb2_colStr").html();
            var tb2_cols = tb2_colStr.split("|");
            if ($(this).val() == "tb2_onehot") {
                for (var i = 0; i < tb2_cols.length; i++) {
                    var col = "encode_" + tb2_cols[i];
                    var val = "onehot_" + tb2_cols[i];
                    $('input[type="radio"][name=' + col + '][value=' + val + ']').iCheck('check');
                    col = "tb2_dimension_hash_" + tb2_cols[i];
                    $('input[name=' + col + ']').val("");
                }

            } else {
                for (var i = 0; i < tb2_cols.length; i++) {
                    var col = "encode_" + tb2_cols[i];
                    var val = "hash_" + tb2_cols[i];
                    $('input[type="radio"][name=' + col + '][value=' + val + ']').iCheck('check');
                    col = "tb2_dimension_hash_" + tb2_cols[i];
                    $('input[name=' + col + ']').val(10000);
                }
            }
        });

        $('input[name="tb2_emball"]').on('input', function () {
            var val_all = $(this).val();
            var tb2_colStr = $("#tb2_colStr").html();
            var tb2_cols = tb2_colStr.split("|");
            tb2_cols.forEach(function (value, index) {
                var col = "tb2_dimension_emb_" + value;
                $('input[name=' + col + ']').val(val_all);
            })
        });

        $('input[name="tb2_hashball"]').on('input', function () {
            var val_all = $(this).val();
            var tb2_colStr = $("#tb2_colStr").html();
            var tb2_cols = tb2_colStr.split("|");
            tb2_cols.forEach(function (value, index) {
                var col = "tb2_dimension_hash_" + value;
                $('input[name=' + col + ']').val(val_all);
            })
        });
        $('.btn-loading').click(function () {
            if ($(this).html() === "Start Train Model") {

                cacheConfig();
            }
            $(this).delay(1000);
            $('.pacman-loading').css("display", "block");
            $(this).delay(2000);
            $(this).css('display', "none");
        });

        $('input[type="radio"][name="is_target"]').on("ifClicked", function () {
            var colTarget = $(this).val();
            var currentLink = $('#preview_link').attr('href');
            var newLink = currentLink + '&target_name=' + colTarget;
            $('#preview_link').attr('href', newLink);
        });

        addEventCheckAllWideDeep();
        $('input[type="text"]').on("change", function () {
            var val = $(this).val();
            $(this).attr("value", val);
        });

        $('input[type="number"]').on("change", function () {
            var val = $(this).val();
            $(this).attr("value", val);
        });

        $('#btn_add_pair').on('click', addCrossPair);

        $('#btn_add_to_table').on('click', addToTable);


    });

    function addEventCheckAllWideDeep() {
        //tb1
        $('input[type="checkbox"][name="tb1_wide_choose_all"]').on('ifClicked', function (event) {
            var tb1_colStr = $("#tb1_colStr").html();
            var tb1_cols = tb1_colStr.split("|");
            if (event.target.checked) {
                // event change check to uncheck
                tb1_cols.forEach(function (value, index) {
                    var col = "tb1_wide_" + value;
                    $('input[type="checkbox"][name=' + col + ']').iCheck('uncheck');
                });
            } else {
                // event change uncheck to check
                tb1_cols.forEach(function (value, index) {
                    var col = "tb1_wide_" + value;
                    $('input[type="checkbox"][name=' + col + ']').iCheck('check');
                    col = "tb1_ignore_" + value;
                    $('input[type="checkbox"][name=' + col + ']').iCheck('uncheck');
                });
                $('input[type="checkbox"][name="tb1_ignore_choose_all"]').iCheck('uncheck');
            }
        });

        $('input[type="checkbox"][name="tb1_deep_choose_all"]').on('ifClicked', function (event) {
            var tb1_colStr = $("#tb1_colStr").html();
            var tb1_cols = tb1_colStr.split("|");
            if (event.target.checked) {
                // event change check to uncheck
                tb1_cols.forEach(function (value, index) {
                    var col = "tb1_deep_" + value;
                    $('input[type="checkbox"][name=' + col + ']').iCheck('uncheck');
                });
            } else {
                // event change uncheck to check
                tb1_cols.forEach(function (value, index) {
                    var col = "tb1_deep_" + value;
                    $('input[type="checkbox"][name=' + col + ']').iCheck('check');
                    col = "tb1_ignore_" + value;
                    $('input[type="checkbox"][name=' + col + ']').iCheck('uncheck');
                });
                $('input[type="checkbox"][name="tb1_ignore_choose_all"]').iCheck('uncheck');
            }
        });

        $('input[type="checkbox"][name="tb1_ignore_choose_all"]').on('ifClicked', function (event) {
            var tb1_colStr = $("#tb1_colStr").html();
            var tb1_cols = tb1_colStr.split("|");
            if (event.target.checked) {
                // event change check to uncheck
                tb1_cols.forEach(function (value, index) {
                    var col = "tb1_ignore_" + value;
                    $('input[type="checkbox"][name=' + col + ']').iCheck('uncheck');
                });
            } else {
                // event change uncheck to check
                tb1_cols.forEach(function (value, index) {
                    var col = "tb1_ignore_" + value;
                    $('input[type="checkbox"][name=' + col + ']').iCheck('check');
                    col = "tb1_deep_" + value;
                    $('input[type="checkbox"][name=' + col + ']').iCheck('uncheck');
                    col = "tb1_wide_" + value;
                    $('input[type="checkbox"][name=' + col + ']').iCheck('uncheck');
                });
                $('input[type="checkbox"][name="tb1_wide_choose_all"]').iCheck('uncheck');
                $('input[type="checkbox"][name="tb1_deep_choose_all"]').iCheck('uncheck');
            }
        });

        // tbl2
        $('input[type="checkbox"][name="tb2_wide_choose_all"]').on('ifClicked', function (event) {
            var tb2_colStr = $("#tb2_colStr").html();
            var tb2_cols = tb2_colStr.split("|");
            if (event.target.checked) {
                // event change check to uncheck
                tb2_cols.forEach(function (value, index) {
                    var col = "tb2_wide_" + value;
                    $('input[type="checkbox"][name=' + col + ']').iCheck('uncheck');
                });
            } else {
                // event change uncheck to check
                tb2_cols.forEach(function (value, index) {
                    var col = "tb2_wide_" + value;
                    $('input[type="checkbox"][name=' + col + ']').iCheck('check');
                    col = "tb2_ignore_" + value;
                    $('input[type="checkbox"][name=' + col + ']').iCheck('uncheck');
                });
                $('input[type="checkbox"][name="tb2_ignore_choose_all"]').iCheck('uncheck');
            }
        });

        $('input[type="checkbox"][name="tb2_deep_choose_all"]').on('ifClicked', function (event) {
            var tb2_colStr = $("#tb2_colStr").html();
            var tb2_cols = tb2_colStr.split("|");
            if (event.target.checked) {
                // event change check to uncheck
                tb2_cols.forEach(function (value, index) {
                    var col = "tb2_deep_" + value;
                    $('input[type="checkbox"][name=' + col + ']').iCheck('uncheck');
                });
            } else {
                // event change uncheck to check
                tb2_cols.forEach(function (value, index) {
                    var col = "tb2_deep_" + value;
                    $('input[type="checkbox"][name=' + col + ']').iCheck('check');
                    col = "tb2_ignore_" + value;
                    $('input[type="checkbox"][name=' + col + ']').iCheck('uncheck');
                });
                $('input[type="checkbox"][name="tb2_ignore_choose_all"]').iCheck('uncheck');
            }
        });

        $('input[type="checkbox"][name="tb2_ignore_choose_all"]').on('ifClicked', function (event) {
            var tb2_colStr = $("#tb2_colStr").html();
            var tb2_cols = tb2_colStr.split("|");
            if (event.target.checked) {
                // event change check to uncheck
                tb2_cols.forEach(function (value, index) {
                    var col = "tb2_ignore_" + value;
                    $('input[type="checkbox"][name=' + col + ']').iCheck('uncheck');
                });
            } else {
                // event change uncheck to check
                tb2_cols.forEach(function (value, index) {
                    var col = "tb2_ignore_" + value;
                    $('input[type="checkbox"][name=' + col + ']').iCheck('check');
                    col = "tb2_deep_" + value;
                    $('input[type="checkbox"][name=' + col + ']').iCheck('uncheck');
                    col = "tb2_wide_" + value;
                    $('input[type="checkbox"][name=' + col + ']').iCheck('uncheck');
                });
                $('input[type="checkbox"][name="tb2_wide_choose_all"]').iCheck('uncheck');
                $('input[type="checkbox"][name="tb2_deep_choose_all"]').iCheck('uncheck');
            }
        });


        // tbl3
        $('input[type="checkbox"][name="tb3_wide_choose_all"]').on('ifClicked', function (event) {
            var tb3_colStr = $("#tb3_colStr").html();
            var tb3_cols = tb3_colStr.split("|");
            if (event.target.checked) {
                // event change check to uncheck
                tb3_cols.forEach(function (value, index) {
                    var col = "tb3_wide_" + value;
                    $('input[type="checkbox"][name="' + col + '"]').prop('checked', false);
                });
            } else {
                // event change uncheck to check
                tb3_cols.forEach(function (value, index) {
                    var col = "tb3_wide_" + value;
                    $('input[type="checkbox"][name="' + col + '"]').prop('checked', true);
                    col = "tb3_ignore_" + value;
                    $('input[type="checkbox"][name="' + col + '"]').prop('checked', false);
                });
                $('input[type="checkbox"][name="tb3_ignore_choose_all"]').iCheck('uncheck');
            }
        });

        $('input[type="checkbox"][name="tb3_deep_choose_all"]').on('ifClicked', function (event) {
            var tb3_colStr = $("#tb3_colStr").html();
            var tb3_cols = tb3_colStr.split("|");
            if (event.target.checked) {
                // event change check to uncheck
                tb3_cols.forEach(function (value, index) {
                    var col = "tb3_deep_" + value;
                    $('input[type="checkbox"][name="' + col + '"]').prop('checked', false);
                });
            } else {
                // event change uncheck to check
                tb3_cols.forEach(function (value, index) {
                    var col = "tb3_deep_" + value;
                    $('input[type="checkbox"][name="' + col + '"]').prop('checked', true);
                    col = "tb3_ignore_" + value;
                    $('input[type="checkbox"][name="' + col + '"]').prop('checked', false);
                });
                $('input[type="checkbox"][name="tb3_ignore_choose_all"]').iCheck('uncheck');
            }
        });

        $('input[type="checkbox"][name="tb3_ignore_choose_all"]').on('ifClicked', function (event) {
            var tb3_colStr = $("#tb3_colStr").html();
            var tb3_cols = tb3_colStr.split("|");
            if (event.target.checked) {
                // event change check to uncheck
                tb3_cols.forEach(function (value, index) {
                    var col = "tb3_ignore_" + value;
                    $('input[type="checkbox"][name="' + col + '"]').prop('checked', false);
                });
            } else {
                // event change uncheck to check
                tb3_cols.forEach(function (value, index) {
                    var col = "tb3_ignore_" + value;
                    $('input[type="checkbox"][name="' + col + '"]').prop('checked', true);
                    col = "tb3_deep_" + value;
                    $('input[type="checkbox"][name="' + col + '"]').prop('checked', false);
                    col = "tb3_wide_" + value;
                    $('input[type="checkbox"][name="' + col + '"]').prop('checked', false);
                });
                $('input[type="checkbox"][name="tb3_wide_choose_all"]').iCheck('uncheck');
                $('input[type="checkbox"][name="tb3_deep_choose_all"]').iCheck('uncheck');
            }
        });

    }

    function addToTable() {
        var eleColPair = $('input[name="cross_cols"]');
        var eleCrossHash = $('input[name="cross_hash"]');
        var eleColsDiv = $('#tb3_colStr');
        var crossColsStr = eleColPair.val();
        if(crossColsStr === "") {
            return null
        }
        var hashColsStr = eleCrossHash.val();
        var crossCols = crossColsStr.split(" , ");
        var hashCols = hashColsStr.split("x");
        var crossTable = $('#crossTable');
        var currentColumns = eleColsDiv.html().split("|");
        var newHtml = crossTable.html();
        for(var idx = 0; idx < crossCols.length; idx++){
            if (currentColumns.indexOf(crossCols[idx]) === -1){
                var hashVal;
                console.log(hashCols.length);
                console.log(hashCols);
                if (idx >= hashCols.length || hashCols[idx] === ""){
                    hashVal = "10000"
                } else{
                    hashVal = hashCols[idx]
                }
                newHtml += "<tr><th>"+crossCols[idx]+"</th>\n" +
                "<td>"+"Cross"+"</td>\n" +
                "<td>\n" +
                "   <label>\n" +
                "       <input type=\"text\" class=\"form-control\"\n" +
                "       name=\"tb3_dimension_hash_"+crossCols[idx]+"\"\n" +
                "       placeholder=\"Ex: 100 ...\" value="+hashVal+">\n" +
                "   </label>\n" +
                "</td>\n" +
                "<td>\n" +
                "   <label>\n" +
                "       <input type=\"checkbox\" name=\"tb3_wide_"+crossCols[idx]+"\"\n" +
                "       class=\"flat-red\" checked>\n" +
                "   </label>\n" +
                "</td>\n" +
                "<td>\n" +
                "   <label>\n" +
                "        <input type=\"checkbox\" name=\"tb3_deep_"+crossCols[idx]+"\"\n" +
                "          class=\"flat-red\">\n" +
                "   </label>\n" +
                "</td>\n" +
                "<td style=\"display: none\">\n" +
                "   <label>\n" +
                "        <input type=\"checkbox\" name=\"tb3_ignore_"+crossCols[idx]+"\"\n" +
                "          class=\"flat-red\">\n" +
                "   </label>\n" +
                "</td> </tr>";
                currentColumns.push(crossCols[idx]);
            }
        }
        eleColsDiv.html(currentColumns.join("|"));
        crossTable.html(newHtml);
        eleColPair.attr("value", "");
        eleCrossHash.attr("value", "");
        return null
    }

    function addCrossPair(event) {
        var cols = $('.select2[name="columns"]').val();
        if (cols.length < 2) {
            alert("Please choose minimum 2 columns");
            return null;
        }
        var colsStr = cols.join(" x ");
        var eleColPair = $('input[name="cross_cols"]');
        var isdup = false;
        var currentPairValsStr = eleColPair.val();

        var currentPairVals = currentPairValsStr.split(" , ");
        for (var i = 0; i < currentPairVals.length; i++) {
            if (currentPairVals[i] === colsStr) {
                isdup = true;
            }
        }
        if (!isdup) {
            var eleCrossHash = $('input[name="cross_hash"]');
            if (currentPairVals.length === 1 && currentPairVals[0] === "") {
                eleColPair.attr("value", colsStr);
                eleCrossHash.attr("value", "10000");
            } else {
                eleColPair.attr("value", currentPairValsStr + " , " + colsStr);
                eleCrossHash.attr("value", eleCrossHash.val() + "x" + "10000");
            }

        }
        $('.select2[name="columns"]').val(null).trigger("change");


    }

    function cacheConfig() {
        // Cache embedding
        //var embedConfig = $("#embedding_config").html();
        //localStorage.setItem('embedding_config', embedConfig);

        // Cache layer
        var layerConfig = $("#layer_config").html();
        localStorage.setItem('wd_layer_config', layerConfig);

        // Cache select
        var metrics = $('.select2[name="metrics"]').val();
        localStorage.setItem('wd_metrics', metrics);

        var model_types = $('.select2[name="model_type"]').val();
        localStorage.setItem("wd_model_type", model_types);

        var loss = $('.select2[name="loss_function"]').val();
        var optimizer = $('.select2[name="optimizer"]').val();
        var activation = $('.select2[name="activation"]').val();
        var other = [loss, optimizer, activation].join(",");
        localStorage.setItem('wd_other', other);

    }

    function renderCacheConfig() {

        //var embedConfig = localStorage.getItem('embedding_config');
        //if (embedConfig != null) {
        //    $("#embedding_config").html(embedConfig);
        //}

        var layerConfig = localStorage.getItem('wd_layer_config');
        if (layerConfig != null) {
            $("#layer_config").html(layerConfig);
        }

        var metrics = localStorage.getItem('wd_metrics');
        if (metrics != null) {
            $('.select2[name="metrics"]').val(metrics.split(",")).trigger("change");
        }
        var model_types = localStorage.getItem("wd_model_type");
        if (model_types != null){
            $('.select2[name="model_type"]').val(model_types.split(",")).trigger("change");
        }

        var other = localStorage.getItem("wd_other");
        if (other != null) {
            other = other.split(",");
            $('.select2[name="loss_function"]').val(other[0]).trigger("change");
            $('.select2[name="optimizer"]').val(other[1]).trigger("change");
            $('.select2[name="activation"]').val(other[2]).trigger("change");
        }


    }

</script>
</body>
</html>
