{% extends "wd_base.html" %}
{% block content %}
    <div class="lds-css ng-scope pacman-loading"
         style="width: 200px; height: 200px; display: none; position: fixed; top: 40%; left: 50%; z-index: 100">
        <div style="width:100%;height:100%" class="lds-pacman">
            <div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div>
                <div></div>
                <div></div>
            </div>
        </div>
        <style type="text/css">@keyframes lds-pacman-1 {
                                   0% {
                                       -webkit-transform: rotate(0deg);
                                       transform: rotate(0deg);
                                   }
                                   50% {
                                       -webkit-transform: rotate(-45deg);
                                       transform: rotate(-45deg);
                                   }
                                   100% {
                                       -webkit-transform: rotate(0deg);
                                       transform: rotate(0deg);
                                   }
                               }

        @-webkit-keyframes lds-pacman-1 {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            50% {
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }
            100% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }
        }

        @keyframes lds-pacman-2 {
            0% {
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
            }
            50% {
                -webkit-transform: rotate(225deg);
                transform: rotate(225deg);
            }
            100% {
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
            }
        }

        @-webkit-keyframes lds-pacman-2 {
            0% {
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
            }
            50% {
                -webkit-transform: rotate(225deg);
                transform: rotate(225deg);
            }
            100% {
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
            }
        }

        @keyframes lds-pacman-3 {
            0% {
                -webkit-transform: translate(190px, 0);
                transform: translate(190px, 0);
                opacity: 0;
            }
            20% {
                opacity: 1;
            }
            100% {
                -webkit-transform: translate(70px, 0);
                transform: translate(70px, 0);
                opacity: 1;
            }
        }

        @-webkit-keyframes lds-pacman-3 {
            0% {
                -webkit-transform: translate(190px, 0);
                transform: translate(190px, 0);
                opacity: 0;
            }
            20% {
                opacity: 1;
            }
            100% {
                -webkit-transform: translate(70px, 0);
                transform: translate(70px, 0);
                opacity: 1;
            }
        }

        .lds-pacman {
            position: relative;
        }

        .lds-pacman > div:nth-child(2) div {
            position: absolute;
            top: 40px;
            left: 40px;
            width: 120px;
            height: 60px;
            border-radius: 120px 120px 0 0;
            background: #80FF00;
            -webkit-animation: lds-pacman-1 0.7s linear infinite;
            animation: lds-pacman-1 0.7s linear infinite;
            -webkit-transform-origin: 60px 60px;
            transform-origin: 60px 60px;
        }

        .lds-pacman > div:nth-child(2) div:nth-child(2) {
            -webkit-animation: lds-pacman-2 0.7s linear infinite;
            animation: lds-pacman-2 0.7s linear infinite;
        }

        .lds-pacman > div:nth-child(1) div {
            position: absolute;
            top: 92px;
            left: -8px;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background: #FF0000;
            -webkit-animation: lds-pacman-3 0.7s linear infinite;
            animation: lds-pacman-3 0.7s linear infinite;
        }

        .lds-pacman > div:nth-child(1) div:nth-child(1) {
            -webkit-animation-delay: -0.469s;
            animation-delay: -0.469s;
        }

        .lds-pacman > div:nth-child(1) div:nth-child(2) {
            -webkit-animation-delay: -0.231s;
            animation-delay: -0.231s;
        }

        .lds-pacman > div:nth-child(1) div:nth-child(3) {
            -webkit-animation-delay: 0s;
            animation-delay: 0s;
        }

        .lds-pacman {
            width: 200px !important;
            height: 200px !important;
            -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
            transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
        }
        </style>
    </div>
    <form role="form" method="post" action="">
        {% csrf_token %}

        <div class="content-wrapper">
            <section class="content-header">
                <h1>
                    Feature Selection
                </h1>
            </section>
            <section class="content">
                {% if cols_numberic %}
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box collapsed-box">
                                <div class="box-header">
                                    <h3 class="box-title">Numberic Columns</h3>
                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                                class="fa fa-plus"></i></button>
                                    </div>
                                </div>
                                <!--/.box-header-->
                                <div class="box-body">
                                    <div style="display: none" id="tb1_colStr">{{ cols.numberic }}</div>
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th style="width: 150px;">Column Name</th>
                                            <th style="width: 100px;">Type</th>
                                            <th>
                                                Unique Val Count
                                            </th>
                                            <th class="small-width">Wide
                                                <input type="checkbox" name="tb1_wide_choose_all"
                                                       class="flat-red"></th>
                                            <th class="small-width">Deep
                                                <input type="checkbox" name="tb1_deep_choose_all"
                                                       class="flat-red"></th>
                                            <!--<th class="small-width">Ignore-->
                                                <!--<input type="checkbox" name="tb1_ignore_choose_all"-->
                                                       <!--class="flat-red"></th>-->
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for rs in cols_numberic %}

                                            <tr>
                                                <th>{{ rs.name }}</th>
                                                <td>{{ rs.type }}</td>
                                                <td>
                                                    {{ rs.n_unique }}
                                                </td>
                                                <td>

                                                    <label>
                                                        {% if rs.is_wide == 0 %}
                                                            <input type="checkbox" name="tb1_wide_{{ rs.name }}"
                                                                   class="flat-red">
                                                        {% else %}
                                                            <input type="checkbox" name="tb1_wide_{{ rs.name }}"
                                                                   class="flat-red" checked>
                                                        {% endif %}
                                                    </label>


                                                </td>
                                                <td>

                                                    <label>
                                                        {% if rs.is_deep == 0 %}
                                                            <input type="checkbox" name="tb1_deep_{{ rs.name }}"
                                                                   class="flat-red">
                                                        {% else %}
                                                            <input type="checkbox" name="tb1_deep_{{ rs.name }}"
                                                                   class="flat-red" checked>
                                                        {% endif %}

                                                    </label>
                                                </td>
                                                <td style="display: none">
                                                    <label>
                                                        {% if rs.is_ignore == 0 %}
                                                            <input type="checkbox" name="tb1_ignore_{{ rs.name }}"
                                                                   class="flat-red">
                                                        {% else %}
                                                            <input type="checkbox" name="tb1_ignore_{{ rs.name }}"
                                                                   class="flat-red" checked>
                                                        {% endif %}

                                                    </label>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                {% endif %}
                {% if cols_categorical %}
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box">
                                <div class="box-header">
                                    <h3 class="box-title">Categorical Columns</h3>
                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                                class="fa fa-minus"></i></button>
                                    </div>
                                </div>
                                <!--/.box-header-->
                                <div class="box-body">
                                    <div style="display: none" id="tb2_colStr">{{ cols.categorical }}</div>
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th style="width: 150px;">Column Name</th>
                                            <th style="width: 100px;">Type</th>
                                            <th>
                                                Unique Val Count
                                            </th>
                                            <th>OneHot
                                                <label>
                                                    <input type="radio" name="tb2_choose_all" value="tb2_onehot"
                                                           class="flat-red">
                                                </label>
                                            </th>
                                            <th>Hash
                                                <label>
                                                    <input type="radio" name="tb2_choose_all" value="tb2_hash"
                                                           class="flat-red">
                                                </label>
                                            </th>
                                            <th>Hash Dimension
                                                <input type="text" class="form-control"
                                                       name="tb2_hashball"
                                                       placeholder="Ex: 1000 ...">
                                            </th>
                                            <th>Embedding
                                                <label>
                                                    <input type="checkbox" name="tb2_emb_choose_all" class="flat-red">
                                                </label>
                                            </th>
                                            <th>Dimension Wish
                                                <input type="text" class="form-control"
                                                       name="tb2_emball"
                                                       placeholder="Ex: 20 or 0.5 ...">
                                            </th>

                                            <th class="small-width">Wide
                                                <input type="checkbox" name="tb2_wide_choose_all"
                                                       class="flat-red"></th>
                                            <th class="small-width">Deep
                                                <input type="checkbox" name="tb2_deep_choose_all"
                                                       class="flat-red"></th>
                                            <!--<th class="small-width" >Ignore-->
                                                <!--<input type="checkbox" name="tb2_ignore_choose_all"-->
                                                       <!--class="flat-red"></th>-->
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for rs in cols_categorical %}

                                            <tr>
                                                <th>{{ rs.name }}</th>
                                                <td>{{ rs.type }}</td>
                                                <td>
                                                    {{ rs.n_unique }}
                                                </td>
                                                <td>
                                                    <label>
                                                        {% if rs.encode == "onehot" %}
                                                            <input type="radio" name="encode_{{ rs.name }}"
                                                                   value="onehot_{{ rs.name }}"
                                                                   class="flat-red" checked>
                                                        {% else %}
                                                            <input type="radio" name="encode_{{ rs.name }}"
                                                                   value="onehot_{{ rs.name }}"
                                                                   class="flat-red">
                                                        {% endif %}
                                                    </label>
                                                </td>
                                                <td>
                                                    <label>
                                                        {% if rs.encode == "onehot" %}
                                                            <input type="radio" name="encode_{{ rs.name }}"
                                                                   value="hash_{{ rs.name }}"
                                                                   class="flat-red">
                                                        {% else %}
                                                            <input type="radio" name="encode_{{ rs.name }}"
                                                                   value="hash_{{ rs.name }}"
                                                                   class="flat-red" checked>
                                                        {% endif %}
                                                    </label>
                                                </td>
                                                <td>
                                                    <label>
                                                        <input type="text" class="form-control"
                                                               name="tb2_dimension_hash_{{ rs.name }}"
                                                               placeholder="Ex: 100 ..." value="{{ rs.hash_size }}">
                                                    </label>
                                                </td>
                                                <td>
                                                    <label>
                                                        {% if rs.is_emb == 0 %}
                                                            <input type="checkbox" name="tb2_emb_{{ rs.name }}"
                                                                   class="flat-red">
                                                        {% else %}
                                                            <input type="checkbox" name="tb2_emb_{{ rs.name }}"
                                                                   class="flat-red" checked>
                                                        {% endif %}
                                                    </label>
                                                </td>
                                                <td>
                                                    <label>
                                                        <input type="text" class="form-control"
                                                               name="tb2_dimension_emb_{{ rs.name }}"
                                                               placeholder="Ex: 20 or 0.5 ..."
                                                               value="{{ rs.emb_size }}">
                                                    </label>
                                                </td>

                                                <td>
                                                    <label>
                                                        {% if rs.is_wide == 0 %}
                                                            <input type="checkbox" name="tb2_wide_{{ rs.name }}"
                                                                   class="flat-red">
                                                        {% else %}
                                                            <input type="checkbox" name="tb2_wide_{{ rs.name }}"
                                                                   class="flat-red" checked>
                                                        {% endif %}
                                                    </label>
                                                </td>
                                                <td>
                                                    <label>
                                                        {% if rs.is_deep == 0 %}
                                                            <input type="checkbox" name="tb2_deep_{{ rs.name }}"
                                                                   class="flat-red">
                                                        {% else %}
                                                            <input type="checkbox" name="tb2_deep_{{ rs.name }}"
                                                                   class="flat-red" checked>
                                                        {% endif %}
                                                    </label>
                                                </td>
                                                <td style="display: none">
                                                    <label>
                                                        {% if rs.is_ignore == 0 %}
                                                            <input type="checkbox" name="tb2_ignore_{{ rs.name }}"
                                                                   class="flat-red">
                                                        {% else %}
                                                            <input type="checkbox" name="tb2_ignore_{{ rs.name }}"
                                                                   class="flat-red" checked>
                                                        {% endif %}
                                                    </label>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">Cross Columns</h3>
                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                            class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <!--/.box-header-->
                            <div class="box-body">
                                <!--<div style="display: none" id="tb3_colStr">{{ cols.cross }}</div>-->
                                <div style="display: none" id="tb3_colStr"></div>
                                <table class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th style="width: 150px;">Column Name</th>
                                        <th style="width: 100px;">Type</th>
                                        <th>Hash Dimension
                                            {#                                            <input type="text" class="form-control"#}
                                            {#                                                   name="tb2_hashball"#}
                                            {#                                                   placeholder="Ex: 1000 ...">#}
                                        </th>
                                        <th class="small-width">Wide
                                            <input type="checkbox" name="tb3_wide_choose_all"
                                                   class="flat-red"></th>
                                        <th class="small-width">Deep
                                            <input type="checkbox" name="tb3_deep_choose_all"
                                                   class="flat-red"></th>
                                        <!--<th class="small-width">Ignore-->
                                            <!--<input type="checkbox" name="tb3_ignore_choose_all"-->
                                                   <!--class="flat-red"></th>-->
                                    </tr>
                                    </thead>
                                    <tbody id="crossTable">
                                    <!--{% for rs in cols_cross %}-->
                                        <!--<tr>-->
                                            <!--<th>{{ rs.name }}</th>-->
                                            <!--<td>{{ rs.type }}</td>-->
                                            <!--<td>-->
                                                <!--<label>-->
                                                    <!--<input type="text" class="form-control"-->
                                                           <!--name="tb3_dimension_hash_{{ rs.name }}"-->
                                                           <!--placeholder="Ex: 100 ..." value="{{ rs.hash_size }}">-->
                                                <!--</label>-->
                                            <!--</td>-->

                                            <!--<td>-->
                                                <!--<label>-->
                                                    <!--{% if rs.is_wide == 0 %}-->
                                                        <!--<input type="checkbox" name="tb3_wide_{{ rs.name }}"-->
                                                               <!--class="flat-red">-->
                                                    <!--{% else %}-->
                                                        <!--<input type="checkbox" name="tb3_wide_{{ rs.name }}"-->
                                                               <!--class="flat-red" checked>-->
                                                    <!--{% endif %}-->
                                                <!--</label>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<label>-->
                                                    <!--{% if rs.is_deep == 0 %}-->
                                                        <!--<input type="checkbox" name="tb3_deep_{{ rs.name }}"-->
                                                               <!--class="flat-red">-->
                                                    <!--{% else %}-->
                                                        <!--<input type="checkbox" name="tb3_deep_{{ rs.name }}"-->
                                                               <!--class="flat-red" checked>-->
                                                    <!--{% endif %}-->
                                                <!--</label>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<label>-->
                                                    <!--{% if rs.is_ignore == 0 %}-->
                                                        <!--<input type="checkbox" name="tb3_ignore_{{ rs.name }}"-->
                                                               <!--class="flat-red">-->
                                                    <!--{% else %}-->
                                                        <!--<input type="checkbox" name="tb3_ignore_{{ rs.name }}"-->
                                                               <!--class="flat-red" checked>-->
                                                    <!--{% endif %}-->
                                                <!--</label>-->
                                            <!--</td>-->
                                        <!--</tr>-->
                                    <!--{% endfor %}-->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">Make Cross Columns</h3>
                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                            class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <!--/.box-header-->
                            <div class="box-body">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Columns</label>
                                        <select class="form-control select2" name="columns" multiple="multiple"
                                                data-placeholder="Select columns"
                                                style="width: 100%;">
                                            {% for item in cross_col_with_uv %}
                                                <option value="{{ item }}">{{ item }}</option>
                                            {% endfor %}

                                        </select>

                                    </div>
                                    <p class="btn btn-info" id="btn_add_pair">Add</p>

                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Cross columns</label>
                                        <input name="cross_cols" class="form-control" value="{{cols_cross.key_pair}}"
                                               placeholder="Cross columns">
                                    </div>
                                    <div class="form-group">
                                        <label>Hash size</label>
                                        <input name="cross_hash" class="form-control" value="{{cols_cross.hash_vals}}"
                                               placeholder="1000x1000">
                                    </div>
                                    <p class="btn btn-info" id="btn_add_to_table">Add To Table</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="box box-default">
                        <div class="box-header with-border">
                            <h3 class="box-title">Model Config</h3>

                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                        class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-6" id="layer_config">


                                    <div class="form-group">
                                        <label>Layer Config</label>
                                        <input type="text" name="layers" class="form-control" value="100x200"
                                               placeholder="Ex: 100x200x300">
                                    </div>
                                    <!-- /.form-group -->
                                    <div class="form-group">
                                        <label>Dropout</label>
                                        <input type="text" name="dropouts" class="form-control" value="0x0"
                                               placeholder="0 if without dropout Ex: 0.3x0x0.2">
                                    </div>

                                    <div class="form-group">
                                        <label>Epoch</label>
                                        <input type="number" min="1" name="epochs" class="form-control" value="10"
                                               placeholder="Number of epochs">
                                    </div>
                                    <div class="form-group">
                                        <label>K-Fold</label>
                                        <input type="text" name="test_size" class="form-control" value="0"
                                             placeholder="K-Fold">
                                    </div>
                                    <div class="form-group">
                                        <label>Shuffle</label>
                                        <input type="text" name="shuffle" class="form-control" value="0"
                                             placeholder="Shuffle ...">
                                    </div>
                                    <!-- /.form-group -->
                                </div>
                                <!-- /.col -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Model Type</label>
                                        <select class="form-control select2" name="model_type" multiple="multiple"
                                                data-placeholder="Select metrics"
                                                style="width: 100%;">
                                            <option value="wide" selected>Wide</option>
                                            <option value="deep" selected>Deep</option>
                                            <option value="wd" selected>Wide & Deep</option>
<!--                                            <option value="boost_tree" selected>Boosted Tree</option>-->
                                        </select>

                                    </div>
                                    <div class="form-group">
                                        <label>Metric</label>
                                        <select class="form-control select2" name="metrics" multiple="multiple"
                                                data-placeholder="Select metrics"
                                                style="width: 100%;">
                                            <option value="auc" selected>AUC</option>
                                            <option value="acc" selected>Accuracy</option>
                                            <option value="confus" selected>Confusion matrix</option>
                                            <option value="precision" selected>Precision</option>
                                            <option value="recall" selected>Recall(TPR)</option>
                                            <option value="fpr" selected>FPR</option>
                                            <option value="f1_score" selected>F1</option>
                                            <option value="specificity" selected>Specificity</option>
                                            <option value="logloss" selected>Loss</option>
                                            <option value="mcc" selected>MCC</option>
                                            <option value="bcr" selected>BCR</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Loss function</label>
                                        <select class="form-control select2" name="loss_function"
                                                style="width: 100%;">
                                            <option selected="selected" value="binary_crossentropy">Binary</option>
                                            <option value="mean" disabled>MSE</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Optimizer</label>
                                        <select class="form-control select2" name="optimizer"
                                                style="width: 100%;">
                                            <option selected value="adam">ADAM</option>
                                            <option value="rms">RMS</option>
                                            <option value="ada">ADA</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Activation</label>
                                        <select class="form-control select2" name="activation"
                                                style="width: 100%;">
                                            <option selected value="relu">Relu</option>
                                            <option value="tanh" disabled>Tanh</option>
                                            <option value="sigmoid" disabled>Sigmoid</option>
                                        </select>
                                    </div>


                                    <!-- /.form-group -->
                                    <!--<div class="form-group">-->
                                    <!--<label>Loss function</label>-->
                                    <!--<select class="form-control select2" style="width: 100%;">-->
                                    <!--<option selected="selected">Alabama</option>-->
                                    <!--<option>Alaska</option>-->
                                    <!--<option disabled="disabled">California (disabled)</option>-->
                                    <!--<option>Delaware</option>-->
                                    <!--<option>Tennessee</option>-->
                                    <!--<option>Texas</option>-->
                                    <!--<option>Washington</option>-->
                                    <!--</select>-->
                                    <!--</div>-->
                                    <!-- /.form-group -->
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </div>
                    </div>
                </div>
            </section>
            <div class="box-footer">
                <button type="submit" class="btn btn-primary btn-loading">Start Train Model</button>
            </div>
        </div>
    </form>
{% endblock %}