{% extends 'base.html' %}
{% block content %}
<div class="content-wrapper">
    <div class="lds-css ng-scope pacman-loading"
         style="width: 200px; height: 200px; display: none; position: fixed; top: 40%; left: 50%; z-index: 100">
        <div style="width:100%;height:100%" class="lds-pacman">
            <div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div>
                <div></div>
                <div></div>
            </div>
        </div>
        <style type="text/css">@keyframes lds-pacman-1 {
                                   0% {
                                       -webkit-transform: rotate(0deg);
                                       transform: rotate(0deg);
                                   }
                                   50% {
                                       -webkit-transform: rotate(-45deg);
                                       transform: rotate(-45deg);
                                   }
                                   100% {
                                       -webkit-transform: rotate(0deg);
                                       transform: rotate(0deg);
                                   }
                               }

        @-webkit-keyframes lds-pacman-1 {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            50% {
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }
            100% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }
        }

        @keyframes lds-pacman-2 {
            0% {
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
            }
            50% {
                -webkit-transform: rotate(225deg);
                transform: rotate(225deg);
            }
            100% {
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
            }
        }

        @-webkit-keyframes lds-pacman-2 {
            0% {
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
            }
            50% {
                -webkit-transform: rotate(225deg);
                transform: rotate(225deg);
            }
            100% {
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
            }
        }

        @keyframes lds-pacman-3 {
            0% {
                -webkit-transform: translate(190px, 0);
                transform: translate(190px, 0);
                opacity: 0;
            }
            20% {
                opacity: 1;
            }
            100% {
                -webkit-transform: translate(70px, 0);
                transform: translate(70px, 0);
                opacity: 1;
            }
        }

        @-webkit-keyframes lds-pacman-3 {
            0% {
                -webkit-transform: translate(190px, 0);
                transform: translate(190px, 0);
                opacity: 0;
            }
            20% {
                opacity: 1;
            }
            100% {
                -webkit-transform: translate(70px, 0);
                transform: translate(70px, 0);
                opacity: 1;
            }
        }

        .lds-pacman {
            position: relative;
        }

        .lds-pacman > div:nth-child(2) div {
            position: absolute;
            top: 40px;
            left: 40px;
            width: 120px;
            height: 60px;
            border-radius: 120px 120px 0 0;
            background: #80FF00;
            -webkit-animation: lds-pacman-1 0.7s linear infinite;
            animation: lds-pacman-1 0.7s linear infinite;
            -webkit-transform-origin: 60px 60px;
            transform-origin: 60px 60px;
        }

        .lds-pacman > div:nth-child(2) div:nth-child(2) {
            -webkit-animation: lds-pacman-2 0.7s linear infinite;
            animation: lds-pacman-2 0.7s linear infinite;
        }

        .lds-pacman > div:nth-child(1) div {
            position: absolute;
            top: 92px;
            left: -8px;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background: #FF0000;
            -webkit-animation: lds-pacman-3 0.7s linear infinite;
            animation: lds-pacman-3 0.7s linear infinite;
        }

        .lds-pacman > div:nth-child(1) div:nth-child(1) {
            -webkit-animation-delay: -0.469s;
            animation-delay: -0.469s;
        }

        .lds-pacman > div:nth-child(1) div:nth-child(2) {
            -webkit-animation-delay: -0.231s;
            animation-delay: -0.231s;
        }

        .lds-pacman > div:nth-child(1) div:nth-child(3) {
            -webkit-animation-delay: 0s;
            animation-delay: 0s;
        }

        .lds-pacman {
            width: 200px !important;
            height: 200px !important;
            -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
            transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
        }
        </style>
    </div>
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Preview Data
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Preview</a></li>
            <li class="active">Data</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-6">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Column Use</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                {% for col in cols_use.cols %}
                                    <th>{{ col }}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for rs in cols_use.rows %}

                                <tr>
                                    {% for r in rs %}
                                        <td>{{ r }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!--{#                        <div class="box-footer">#}-->
                    <!--{#                            <button type="submit" class="btn btn-loading"><a id="preview_link"#}-->
                    <!--{#                                                                             href="./data_summary?file_name={{ file_name }}">Data#}-->
                    <!--{#                                Summary</a></button>#}-->
                    <!--{#                        </div>#}-->
                    <!-- /.box-body -->
                </div>
            </div>
            <!-- /.col -->
            <div class="col-xs-6">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Compare Data: {{ transaction_id }}</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                {% for col in data_final_show.cols %}
                                    <th>{{ col }}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for rs in data_final_show.records %}

                                <tr>
                                    {% for r in rs %}
                                        <td>{{ r }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!--{#                        <div class="box-footer">#}-->
                    <!--{#                            <button type="submit" class="btn btn-loading"><a id="preview_link"#}-->
                    <!--{#                                                                             href="./data_summary?file_name={{ file_name }}">Data#}-->
                    <!--{#                                Summary</a></button>#}-->
                    <!--{#                        </div>#}-->
                    <!-- /.box-body -->
                    {% if model_info %}
                    <div><p style="font-size: 20px; text-align: center">{{ model_info }}</p></div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if records %}
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">File name: {{ transaction_id }}</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table id="example10" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    {% for col in cols %}
                                        <th>{{ col }}</th>
                                    {% endfor %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for rs in records %}

                                    <tr>
                                        {% for r in rs %}
                                            <td>{{ r }}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!--{#                        <div class="box-footer">#}-->
                        <!--{#                            <button type="submit" class="btn btn-loading"><a id="preview_link"#}-->
                        <!--{#                                                                             href="./data_summary?file_name={{ file_name }}">Data#}-->
                        <!--{#                                Summary</a></button>#}-->
                        <!--{#                        </div>#}-->
                        <!-- /.box-body -->
                    </div>
                </div>
                <!-- /.col -->
            </div>
        {% endif %}
        {% if data_show.wide %}
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">File name: {{ transaction_id }}</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table id="example12" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    {% for col in data_show.wide.cols %}
                                        <th>{{ col }}</th>
                                    {% endfor %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for rs in data_show.wide.records %}

                                    <tr>
                                        {% for r in rs %}
                                            <td>{{ r }}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!--{#                        <div class="box-footer">#}-->
                        <!--{#                            <button type="submit" class="btn btn-loading"><a id="preview_link"#}-->
                        <!--{#                                                                             href="./data_summary?file_name={{ file_name }}">Data#}-->
                        <!--{#                                Summary</a></button>#}-->
                        <!--{#                        </div>#}-->
                        <!-- /.box-body -->
                    </div>
                </div>
                <!-- /.col -->
            </div>
        {% endif %}
        {% if data_show.deep %}
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">File name: {{ transaction_id }}</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    {% for col in data_show.deep.cols %}
                                        <th>{{ col }}</th>
                                    {% endfor %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for rs in data_show.deep.records %}

                                    <tr>
                                        {% for r in rs %}
                                            <td>{{ r }}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!--{#                        <div class="box-footer">#}-->
                        <!--{#                            <button type="submit" class="btn btn-loading"><a id="preview_link"#}-->
                        <!--{#                                                                             href="./data_summary?file_name={{ file_name }}">Data#}-->
                        <!--{#                                Summary</a></button>#}-->
                        <!--{#                        </div>#}-->
                        <!-- /.box-body -->
                    </div>
                </div>
                <!-- /.col -->
            </div>
        {% endif %}
        {% if data_show.wd %}
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">File name: {{ result.file_name }}</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    {% for col in data_show.wd.cols %}
                                        <th>{{ col }}</th>
                                    {% endfor %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for rs in data_show.wd.records %}

                                    <tr>
                                        {% for r in rs %}
                                            <td>{{ r }}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!--{#                        <div class="box-footer">#}-->
                        <!--{#                            <button type="submit" class="btn btn-loading"><a id="preview_link"#}-->
                        <!--{#                                                                             href="./data_summary?file_name={{ file_name }}">Data#}-->
                        <!--{#                                Summary</a></button>#}-->
                        <!--{#                        </div>#}-->
                        <!-- /.box-body -->
                    </div>
                </div>
                <!-- /.col -->
            </div>
        {% endif %}
        {% if data_summary_show.wide %}
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Wide Summary: {{ result.file_name }}</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    {% for col in data_summary_show.wd.cols %}
                                        <th>{{ col }}</th>
                                    {% endfor %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for rs in data_summary_show.wd.records %}

                                    <tr>
                                        {% for r in rs %}
                                            <td>{{ r }}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!--{#                        <div class="box-footer">#}-->
                        <!--{#                            <button type="submit" class="btn btn-loading"><a id="preview_link"#}-->
                        <!--{#                                                                             href="./data_summary?file_name={{ file_name }}">Data#}-->
                        <!--{#                                Summary</a></button>#}-->
                        <!--{#                        </div>#}-->
                        <!-- /.box-body -->
                    </div>
                </div>
                <!-- /.col -->
            </div>
        {% endif %}
        {% if data_summary_show.deep %}
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Deep Summary: {{ result.file_name }}</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    {% for col in data_summary_show.deep.cols %}
                                        <th>{{ col }}</th>
                                    {% endfor %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for rs in data_summary_show.deep.records %}

                                    <tr>
                                        {% for r in rs %}
                                            <td>{{ r }}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!--{#                        <div class="box-footer">#}-->
                        <!--{#                            <button type="submit" class="btn btn-loading"><a id="preview_link"#}-->
                        <!--{#                                                                             href="./data_summary?file_name={{ file_name }}">Data#}-->
                        <!--{#                                Summary</a></button>#}-->
                        <!--{#                        </div>#}-->
                        <!-- /.box-body -->
                    </div>
                </div>
                <!-- /.col -->
            </div>
        {% endif %}
        {% if data_summary_show.wd %}
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Wide-Deep Summary: {{ result.file_name }}</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table id="example1" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    {% for col in data_summary_show.wd.cols %}
                                        <th>{{ col }}</th>
                                    {% endfor %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for rs in data_summary_show.wd.records %}

                                    <tr>
                                        {% for r in rs %}
                                            <td>{{ r }}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!--{#                        <div class="box-footer">#}-->
                        <!--{#                            <button type="submit" class="btn btn-loading"><a id="preview_link"#}-->
                        <!--{#                                                                             href="./data_summary?file_name={{ file_name }}">Data#}-->
                        <!--{#                                Summary</a></button>#}-->
                        <!--{#                        </div>#}-->
                        <!-- /.box-body -->
                    </div>
                </div>
                <!-- /.col -->
            </div>
        {% endif %}

        <!-- /.row -->
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>

{% endblock %}