{% extends 'wd_base.html' %}
{% block content %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Upload Data
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#">Forms</a></li>
                <li class="active">General Elements</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Upload file</h3>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <form role="form" method="post" action="./" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="box-body">

                                <div class="form-group">
                                    <label for="trainInputFile">Train File</label>
                                    <input type="file" id="trainInputFile" name="train">

                                    <p class="help-block">Choose file csv.</p>
                                </div>
                                <div class="form-group">
                                    <label for="testInputFile">Test File</label>
                                    <input type="file" id="testInputFile" name="test">

                                    <p class="help-block">Choose file csv.</p>
                                </div>

                            </div>
                            <!-- /.box-body -->

                            <div class="box-footer">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.box -->
                </div>
                <!--/.col (left) -->

            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
{% endblock %}