{% extends 'base.html' %}
{% block content %}
    <div class="lds-css ng-scope pacman-loading"
         style="width: 200px; height: 200px; display: none; position: fixed; top: 40%; left: 50%; z-index: 100">
        <div style="width:100%;height:100%" class="lds-pacman">
            <div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div>
                <div></div>
                <div></div>
            </div>
        </div>
        <style type="text/css">@keyframes lds-pacman-1 {
                                   0% {
                                       -webkit-transform: rotate(0deg);
                                       transform: rotate(0deg);
                                   }
                                   50% {
                                       -webkit-transform: rotate(-45deg);
                                       transform: rotate(-45deg);
                                   }
                                   100% {
                                       -webkit-transform: rotate(0deg);
                                       transform: rotate(0deg);
                                   }
                               }

        @-webkit-keyframes lds-pacman-1 {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            50% {
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }
            100% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }
        }

        @keyframes lds-pacman-2 {
            0% {
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
            }
            50% {
                -webkit-transform: rotate(225deg);
                transform: rotate(225deg);
            }
            100% {
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
            }
        }

        @-webkit-keyframes lds-pacman-2 {
            0% {
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
            }
            50% {
                -webkit-transform: rotate(225deg);
                transform: rotate(225deg);
            }
            100% {
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
            }
        }

        @keyframes lds-pacman-3 {
            0% {
                -webkit-transform: translate(190px, 0);
                transform: translate(190px, 0);
                opacity: 0;
            }
            20% {
                opacity: 1;
            }
            100% {
                -webkit-transform: translate(70px, 0);
                transform: translate(70px, 0);
                opacity: 1;
            }
        }

        @-webkit-keyframes lds-pacman-3 {
            0% {
                -webkit-transform: translate(190px, 0);
                transform: translate(190px, 0);
                opacity: 0;
            }
            20% {
                opacity: 1;
            }
            100% {
                -webkit-transform: translate(70px, 0);
                transform: translate(70px, 0);
                opacity: 1;
            }
        }

        .lds-pacman {
            position: relative;
        }

        .lds-pacman > div:nth-child(2) div {
            position: absolute;
            top: 40px;
            left: 40px;
            width: 120px;
            height: 60px;
            border-radius: 120px 120px 0 0;
            background: #80FF00;
            -webkit-animation: lds-pacman-1 0.7s linear infinite;
            animation: lds-pacman-1 0.7s linear infinite;
            -webkit-transform-origin: 60px 60px;
            transform-origin: 60px 60px;
        }

        .lds-pacman > div:nth-child(2) div:nth-child(2) {
            -webkit-animation: lds-pacman-2 0.7s linear infinite;
            animation: lds-pacman-2 0.7s linear infinite;
        }

        .lds-pacman > div:nth-child(1) div {
            position: absolute;
            top: 92px;
            left: -8px;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background: #FF0000;
            -webkit-animation: lds-pacman-3 0.7s linear infinite;
            animation: lds-pacman-3 0.7s linear infinite;
        }

        .lds-pacman > div:nth-child(1) div:nth-child(1) {
            -webkit-animation-delay: -0.469s;
            animation-delay: -0.469s;
        }

        .lds-pacman > div:nth-child(1) div:nth-child(2) {
            -webkit-animation-delay: -0.231s;
            animation-delay: -0.231s;
        }

        .lds-pacman > div:nth-child(1) div:nth-child(3) {
            -webkit-animation-delay: 0s;
            animation-delay: 0s;
        }

        .lds-pacman {
            width: 200px !important;
            height: 200px !important;
            -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
            transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
        }
        </style>
    </div>
    <form role="form" method="post" action="">
        {% csrf_token %}
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Summary file name: {{ file_name }}. Total rows: {{ summary_totals.n_rows }}. Total
                    columns: {{ summary_totals.n_cols }}
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li><a href="#">Preview</a></li>
                    <li class="active">Data</li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content">
                <div id="embedding_config">
                {% if summary_totals.n_col_num_not_null != 0 %}
                    <div class="row">

                        <div class="col-xs-6">
                            <div class="box collapsed-box">
                                <div class="box-header">
                                    <h3 class="box-title">Numeric Not Null. Number
                                        columns: {{ summary_totals.n_col_num_not_null }}</h3>
                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                                class="fa fa-plus"></i></button>
                                    </div>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body">
                                    <table id="example1" class="table table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th style="width: 150px;">Column Name</th>
                                            <th style="width: 100px;">Type</th>
                                            <th style="width: 100px;">Null Count</th>
                                            <th style="width: 100px;">Unique Val Count</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for rs in results.res_number_not_null %}

                                            <tr>
                                                <th>{{ rs.col }}</th>
                                                <td>{{ rs.type }}</td>
                                                <td>{{ rs.n_nans }}</td>
                                                <td>{{ rs.n_uniques }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <!--<div class="box-footer">-->
                                <!--<button type="submit" class="btn btn-primary"><a-->
                                <!--href="./data_summary?file_name={{ file_name }}">Data Summary</a></button>-->
                                <!--</div>-->
                                <!-- /.box-body -->
                            </div>
                        </div>


                    </div>
                {% endif %}
                {% if summary_totals.n_col_str_not_null != 0 %}
                    <div class="row">

                        <div class="col-xs-12">
                            <div class="box collapsed-box">
                                <div class="box-header">
                                    <h3 class="box-title">Categorical Not Null. Number
                                        columns: {{ summary_totals.n_col_str_not_null }}</h3>
                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                                class="fa fa-plus"></i></button>
                                    </div>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body">
                                    <div style="display: none" id="tb2_colStr">{{ cols.col_str_not_null }}</div>
                                    <div style="display: none" id="tb4_colStr">{{ cols.col_str_is_null }}</div>
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th style="width: 150px;">Column Name</th>
                                            <th style="width: 100px;">Type</th>
                                            <th style="width: 100px;">Null Count</th>
                                            <th>
                                                Unique Val Count
                                            </th>
                                            <th>Label Encoding
                                                <label>
                                                    <input type="radio" name="tb2_choose_all" value="tb2_label"
                                                           class="flat-red"
                                                           checked>
                                                </label>
                                            </th>
                                            <th>OneHot Encoding
                                                <label>
                                                    <input type="radio" name="tb2_choose_all" value="tb2_onehot"
                                                           class="flat-red">
                                                </label>
                                            </th>
                                            <th>Embedding
                                                <label>
                                                    <input type="checkbox" name="tb2_emb_choose_all" class="flat-red">
                                                </label>
                                            </th>
                                            <th>Dimension Wish
                                                <input type="text" class="form-control"
                                                       name="tb2_emball"
                                                       placeholder="Ex: 20 or 0.5 ...">
                                            </th>

                                            <th>
                                                Ignore
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for rs in results.res_string_not_null %}

                                            <tr>
                                                <th>{{ rs.col }}</th>
                                                <td>{{ rs.type }}</td>
                                                <td>{{ rs.n_nans }}</td>
                                                <td>
                                                    {{ rs.n_uniques }}
                                                </td>
                                                <td>
                                                    <label>
                                                        <input type="radio" name="tb2_{{ rs.col }}"
                                                               value="label_{{ rs.col }}"
                                                               class="flat-red" checked>
                                                    </label>
                                                </td>
                                                <td>
                                                    <label>
                                                        <input type="radio" name="tb2_{{ rs.col }}"
                                                               value="onehot_{{ rs.col }}"
                                                               class="flat-red">
                                                    </label>
                                                </td>
                                                <td>
                                                    <label>
                                                        <input type="checkbox" name="tb2_emb_{{ rs.col }}"
                                                               class="flat-red">
                                                    </label>
                                                </td>
                                                <td>
                                                    <label>
                                                        <input type="text" class="form-control"
                                                               name="tb2_dimension_emb_{{ rs.col }}"
                                                               placeholder="Ex: 20 or 0.5 ...">
                                                    </label>
                                                </td>

                                                <td>
                                                    <label>
                                                        <input type="checkbox" name="tb2_ignore_{{ rs.col }}"
                                                               class="flat-red">
                                                    </label>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.box-body -->
                            </div>
                        </div>
                        <!-- /.col -->

                    </div>
                {% endif %}
                {% if summary_totals.n_col_num_is_null != 0 %}
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="box collapsed-box">
                                <div class="box-header">
                                    <h3 class="box-title">Numeric Contain Null. Number
                                        columns: {{ summary_totals.n_col_num_is_null }}</h3>
                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                                class="fa fa-plus"></i></button>
                                    </div>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body">
                                    <table id="example2" class="table table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th style="width: 150px;">Column Name</th>
                                            <th style="width: 100px;">Type</th>
                                            <th style="width: 100px;">Null Count</th>
                                            <th style="width: 100px;">Unique Val Count</th>
                                            <th>Fill Null</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for rs in results.res_number_is_null %}

                                            <tr>
                                                <th>{{ rs.col }}</th>
                                                <td>{{ rs.type }}</td>
                                                <td>{{ rs.n_nans }}</td>
                                                <td>
                                                    {{ rs.n_uniques }}
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <select class="form-control select2" name="tb3_nan_{{ rs.col }}"
                                                                style="width: 100%;">
                                                            <option selected="selected" value="mean">Fill Mean</option>
                                                            <option value="mode">Fill Mode</option>
                                                            <option value="zero">Fill Zero</option>
                                                        </select>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.box-body -->
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                {% endif %}
                {% if summary_totals.n_col_str_is_null != 0 %}
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box collapsed-box">
                                <div class="box-header">
                                    <h3 class="box-title">Categorical Contain Null. Number
                                        columns: {{ summary_totals.n_col_str_is_null }}</h3>
                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                                class="fa fa-plus"></i></button>
                                    </div>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body">
                                    <table id="example4" class="table table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th style="width: 150px;">Column Name</th>
                                            <th style="width: 100px;">Type</th>
                                            <th style="width: 100px;">Null Count</th>
                                            <th>
                                                Unique Val Count
                                            </th>
                                            <th>Fill Null</th>
                                            <th>Label Encoding
                                                <label>
                                                    <input type="radio" name="tb4_choose_all" value="tb4_label"
                                                           class="flat-red"
                                                           checked>
                                                </label>
                                            </th>
                                            <th>OneHot Encoding
                                                <label>
                                                    <input type="radio" name="tb4_choose_all" value="tb4_onehot"
                                                           class="flat-red">
                                                </label>
                                            </th>
                                            <th>Embedding
                                                <label>
                                                    <input type="checkbox" name="tb4_emb_choose_all" class="flat-red">
                                                </label>
                                            </th>
                                            <th>Dimension Wish
                                                <input type="text" class="form-control"
                                                       name="tb4_emball"
                                                       placeholder="Ex: 20 or 0.5 ...">
                                            </th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for rs in results.res_string_is_null %}

                                            <tr>
                                                <th>{{ rs.col }}</th>
                                                <td>{{ rs.type }}</td>
                                                <td>{{ rs.n_nans }}</td>
                                                <td>
                                                    {{ rs.n_uniques }}
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <select class="form-control select2" name="tb4_nan_{{ rs.col }}"
                                                                style="width: 100%;">
                                                            <option selected="selected" value="mode">Fill Mode</option>
                                                            <option value="zero">Fill Zero</option>
                                                        </select>
                                                    </div>
                                                </td>
                                                <td>
                                                    <label>
                                                        <input type="radio" name="tb4_{{ rs.col }}"
                                                               value="label_{{ rs.col }}"
                                                               class="flat-red" checked>
                                                    </label>
                                                </td>
                                                <td>
                                                    <label>
                                                        <input type="radio" name="tb4_{{ rs.col }}"
                                                               value="onehot_{{ rs.col }}"
                                                               class="flat-red">
                                                    </label>
                                                </td>
                                                <td>
                                                    <label>
                                                        <input type="checkbox" name="tb4_emb_{{ rs.col }}"
                                                               class="flat-red">
                                                    </label>
                                                </td>
                                                <td>
                                                    <label>
                                                        <input type="text" class="form-control"
                                                               name="tb4_dimension_emb_{{ rs.col }}"
                                                               placeholder="Ex: 20 or 0.5 ...">
                                                    </label>
                                                </td>

                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                {% endif %}
                </div>
                <div class="row">
                    <div class="box box-default">
                        <div class="box-header with-border">
                            <h3 class="box-title">Model Config</h3>

                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                        class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-6" id="layer_config">
                                    <div class="form-group">
                                        <label>Layer Config</label>
                                        <input type="text" name="layers" class="form-control" value="100x200"
                                               placeholder="Ex: 100x200x300">
                                    </div>
                                    <!-- /.form-group -->
                                    <div class="form-group">
                                        <label>Dropout</label>
                                        <input type="text" name="dropouts" class="form-control" value="0x0"
                                               placeholder="0 if without dropout Ex: 0.3x0x0.2">
                                    </div>

                                    <div class="form-group">
                                        <label>Epoch</label>
                                        <input type="number" min="1" name="epochs" class="form-control" value="10"
                                               placeholder="Number of epochs">
                                    </div>
                                    <div class="form-group">
                                        <label>Test Size</label>
                                        <input type="text" name="test_size" class="form-control" value="0.3"
                                               placeholder="Test Size">
                                    </div>
                                    <!-- /.form-group -->
                                </div>
                                <!-- /.col -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Metric</label>
                                        <select class="form-control select2" name="metrics" multiple="multiple"
                                                data-placeholder="Select metrics"
                                                style="width: 100%;">
                                            <option value="auc" selected>AUC</option>
                                            <option value="acc" selected>Accuracy</option>
                                            <option value="confus" selected>Confusion matrix</option>
                                            <option value="precision" selected>Precision</option>
                                            <option value="recall" selected>Recall</option>
                                            <option value="f1_score" selected>F1</option>
                                            <option value="specificity" selected>Specificity</option>
                                            <option value="logloss" selected>Loss</option>
                                        </select>

                                    </div>
                                    <div class="form-group">
                                        <label>Loss function</label>
                                        <select class="form-control select2" name="loss_function"
                                                style="width: 100%;">
                                            <option selected="selected" value="binary_crossentropy">Binary</option>
                                            <option value="mean" disabled>MSE</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Optimizer</label>
                                        <select class="form-control select2" name="optimizer"
                                                style="width: 100%;">
                                            <option selected="selected" value="sgd">SGD</option>
                                            <option value="adam">ADAM</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Activation</label>
                                        <select class="form-control select2" name="activation"
                                                style="width: 100%;">
                                            <option selected="selected" value="relu">Relu</option>
                                            <option value="tanh">Tanh</option>
                                            <option value="sigmoid">Sigmoid</option>
                                        </select>
                                    </div>


                                    <!-- /.form-group -->
                                    <!--<div class="form-group">-->
                                    <!--<label>Loss function</label>-->
                                    <!--<select class="form-control select2" style="width: 100%;">-->
                                    <!--<option selected="selected">Alabama</option>-->
                                    <!--<option>Alaska</option>-->
                                    <!--<option disabled="disabled">California (disabled)</option>-->
                                    <!--<option>Delaware</option>-->
                                    <!--<option>Tennessee</option>-->
                                    <!--<option>Texas</option>-->
                                    <!--<option>Washington</option>-->
                                    <!--</select>-->
                                    <!--</div>-->
                                    <!-- /.form-group -->
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </div>
                    </div>
                </div>
            </section>


            <!-- /.content -->
            <div class="box-footer">
                <button type="submit" class="btn btn-primary btn-loading">Start Train Model</button>
            </div>
        </div>

    </form>

{% endblock %}