{% extends 'base.html' %}
{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Upload Data
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Forms</a></li>
            <li class="active">General Elements</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-6">
                    <div class="form-group">
                        <label>Columns</label>
                        <select class="form-control select2" name="columns" multiple="multiple"
                                data-placeholder="Select columns"
                                style="width: 100%;">
                            <option value="item_id" selected>item_id</option>
                            <option value="product" selected>product</option>
                            <option value="price">price</option>
                            <option value="click">click</option>

                        </select>

                </div>
                <button class="btn btn-info" id="btn_add_pair">Add</button>

            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Cross columns</label>
                    <input name="cross_cols" class="form-control" value=""
                           placeholder="Cross columns">
                </div>
                <div class="form-group">
                    <label>Hash size</label>
                    <input name="cross_cols" class="form-control" value=""
                           placeholder="1000 , 1000">
                </div>
            </div>
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
{% endblock %}